@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Paleta */
:root {
    --color-main: #F9F9F1;
    --color-letter: #242121;
    --color-line: #f8c25c;
    --color-secondary: #065f5f;
}
.locationCont{
    text-align: left;
    overflow: hidden;
}

.locationCont .nameCity{
    font-family: "Quicksand", sans-serif !important;
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0px;
    color: var(--color-letter);
    white-space: nowrap;
}

.weatherLocationCont{
    width: cal(100% - 20px);
    height: 180px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    min-width: 350px;
    box-sizing: border-box;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}