@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Paleta */
:root {
    --color-main: #F9F9F1;
    --color-letter: #242121;
    --color-line: #f8c25c;
    --color-secondary: #065f5f;
    --color-icon:#ff2047;
    --color-gray:#4e4b4b;
}

.weatherDataCont{
    font-family: "Quicksand";
    font-weight: 600;
    background: var(--color-secondary);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.weatherTemperatureCont{
    background:var(--color-line);
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
    border-radius: 4px;
    padding: 1em;
}
.weatherExtraInfoCont{
    background: var(--color-letter);
    color: var(--color-line);
    font-size: 1rem;
    width: 35%;
    padding: 1.2rem;
    border-radius: 2px;
    text-align: left;
    line-height: 1.5rem;
}

.temperature{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.temperatureType{
    font-size: 1.5rem;
    color: var(--color-gray);
}
.extraInfoText{
    display: block;
}
.wicon{
    color: var(--color-icon);
}