.location-list{
    height: 85vh;
    overflow: auto;
}

@media(max-width: 48em){
    .location-list{
        max-height: 35vh;
        margin-bottom: 20px;
    }
}

.forcast-title{
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}